<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
   integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <header>
            <div className="holder">
                <img src="/images/logo/logo.png" width="150" alt="logo" />
            <h1> MundoTec </h1>
            <hr></hr>
            <ul className='holder' >
                    <li> Instagram:MundoTec <img src='/images/iconos/icons8-instagram-viejo-30.png' width="20"></img> 
                     Telefono: 4300000  <img src='/images/iconos/icons8-añadir-teléfono-30.png' width="20"></img>
                     Email:tnieto025@gmail.com  <img src='/images/iconos/icons8-nuevo-post-30.png' width="20"></img>
                 </li>
                </ul>
            </div>
        </header> 
    {{{body}}}
    <footer>
            <p> Diseñado por Tomás Nieto - ©2021  </p>
        </footer>
  </body>
</html>
